body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:624px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8297 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:16px;
  width:360px;
  height:624px;
}
#u8298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u8300 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:133px;
  width:257px;
  height:45px;
  text-align:left;
  line-height:20px;
}
#u8301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:253px;
  word-wrap:break-word;
}
#u8302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
}
#u8302 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:133px;
  width:80px;
  height:45px;
}
#u8303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8304 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:16px;
  width:360px;
  height:38px;
}
#u8305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8306 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:16px;
  width:253px;
  height:38px;
  font-size:16px;
}
#u8307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u8308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u8308 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:28px;
  width:9px;
  height:14px;
  color:#FFFFFF;
}
#u8309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:16px;
}
#u8310 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:355px;
  height:16px;
}
#u8311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8312 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:27px;
  width:29px;
  height:16px;
}
#u8313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u8315 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:198px;
  width:257px;
  height:45px;
  text-align:left;
  line-height:20px;
}
#u8316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:253px;
  word-wrap:break-word;
}
#u8317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
}
#u8317 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:198px;
  width:80px;
  height:45px;
}
#u8318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u8320 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:260px;
  width:257px;
  height:45px;
  text-align:left;
  line-height:20px;
}
#u8321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:253px;
  word-wrap:break-word;
}
#u8322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
}
#u8322 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:260px;
  width:80px;
  height:45px;
}
#u8323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u8325 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:64px;
  width:257px;
  height:59px;
  text-align:left;
  line-height:20px;
}
#u8326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:253px;
  word-wrap:break-word;
}
#u8327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:60px;
}
#u8327 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:64px;
  width:80px;
  height:59px;
}
#u8328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u8329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8329 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:64px;
  width:16px;
  height:16px;
}
#u8330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u8331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u8331 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:624px;
  width:358px;
  height:16px;
  color:#1E1E1E;
  text-align:left;
}
#u8332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:354px;
  word-wrap:break-word;
}
#u8333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:624px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8334 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:16px;
  width:360px;
  height:624px;
}
#u8335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u8337 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:123px;
  width:219px;
  height:45px;
  text-align:left;
  line-height:20px;
}
#u8338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u8339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
}
#u8339 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:123px;
  width:80px;
  height:45px;
}
#u8340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8341 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:16px;
  width:360px;
  height:38px;
}
#u8342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8343 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:16px;
  width:253px;
  height:38px;
  font-size:16px;
}
#u8344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u8345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:16px;
}
#u8345 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:355px;
  height:16px;
}
#u8346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8347 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:27px;
  width:29px;
  height:16px;
}
#u8348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u8350 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:188px;
  width:219px;
  height:45px;
  text-align:left;
  line-height:20px;
}
#u8351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u8352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
}
#u8352 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:188px;
  width:80px;
  height:45px;
}
#u8353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u8355 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:250px;
  width:219px;
  height:45px;
  text-align:left;
  line-height:20px;
}
#u8356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u8357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
}
#u8357 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:250px;
  width:80px;
  height:45px;
}
#u8358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u8360 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:64px;
  width:219px;
  height:45px;
  text-align:left;
  line-height:20px;
}
#u8361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u8362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:46px;
}
#u8362 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:64px;
  width:80px;
  height:45px;
}
#u8363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u8364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8364 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:64px;
  width:16px;
  height:16px;
}
#u8365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u8366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8366 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:142px;
  width:18px;
  height:18px;
}
#u8367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8368 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:202px;
  width:18px;
  height:18px;
}
#u8369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8370 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:264px;
  width:18px;
  height:18px;
}
#u8371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8372 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:78px;
  width:18px;
  height:18px;
}
#u8373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8374 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:600px;
  width:157px;
  height:32px;
}
#u8375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u8376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:32px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8376 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:600px;
  width:158px;
  height:32px;
}
#u8377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
